.player-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 10px;
    color: white;
    align-items: center;
    padding: 1.5rem;
    }

body{
        background-color: rgba(30, 30, 30, 1)
       
}
.back{
        color: white;
        margin-top: 10px;
        margin-left: 10px;
}
   
    
   