.teams-container {
display: grid;
grid-template-columns: 10% 15% auto 10% repeat(3,5%) 10% 10% 10%;
gap: 10px;
color: white;
align-items: center;
padding: 1.5rem;
}

body{
    background-color: rgba(30, 30, 30, 1)
   
}
.back{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
#logo { 
    max-height: 50px;
    max-width: 50px;
   
}
.back{
    color: white;
    cursor: pointer;
}

/* #place{
    grid-column: 1/span 1; 
}


#club { 
    grid-column: 3/span 3;
}

#games{
    grid-column: 6/span 1;
}

#won{
    grid-column: 7/span 1;
}
#lost{
    grid-column: 9/span 1;
}
#draw{
    grid-column: 8/span 1;
}
#goals{
    grid-column: 10/span 1;
}
#opgoals{
    grid-column: 11/span 1;
}
#goaldiff{
    grid-column: 12/span 1;
} */